:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.heading-div {
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
	margin-bottom: 0px;
	
}

.quotes {
	max-width: 1200px;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
}

.submit-button {
	padding-left: 10px;
}

.submission-form {
	gap: 5px;
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
}

.input-label {
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;

}

form {
	padding: 10px;
}