:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.social-buttons {
	display: flex;
	gap: 10px;
	float: right;
	padding: 15px;
}

.heading-div {
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 40px;
	margin-bottom: 0px;	
}

.heading {
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 50px;
	margin-bottom: 0px;	
}

.search-quotes {
	padding-top: 50px;
}

.quotes {
	max-width: 1200px;
	margin-left: auto;
  	margin-right: auto;
}

.header-image {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.submit-button {
	max-width: fit-content;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: auto; 
	margin-right: auto;
}

.name-input-box {
	padding-bottom: 20px;
}

.sort-button {
	padding-bottom: 20px;
	padding-top: 10px;
}

.search-field {
	display: flex;
	gap: 10px;
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 75px;
}

.submission-form {
	gap: 5px;
	max-width: 400px;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 75px;
}