:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.heading-div {
	max-width: fit-content;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
}

.quotes {
	max-width: 1200px;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
}